Prepros Export/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width" id="viewport-meta"/>
    <title>Ржевское пиво</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;amp;subset=cyrillic"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:700&amp;amp;subset=cyrillic"/>
    <link rel="stylesheet" href="dest/styles//vendor/jquery.custom-scroll.css"/>
    <link rel="stylesheet" href="dest/styles//vendor/owl.carousel.min.css"/>
    <link rel="stylesheet" href="dest/styles//vendor/owl.theme.default.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"/>
    <link rel="stylesheet" href="dest/styles/main.css"/>
  </head>
  <body>
    <div class="modal fade" id="navmenu-mobile" tabindex="-1" aria-labelledly="Меню">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="close"><span aria-hidden="true"><img src="dest/images/template/cross.svg" alt=""/></span></button>
          </div>
          <div class="modal-body">
            <div class="modal__menu">
              <ul>
                <li><a href="history.html">История</a></li>
                <li><a href="about.html">О заводе</a></li>
                <li><a href="products.html">Продукция</a></li>
                <li><a href="contacts.html">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page page--home page--error">
      <div class="page__header">
        <header class="header header--dark">
          <div class="header-menu frame-outer">
            <div class="header-menu__left">
              <ul>
                <li><a href="history.html">история</a></li>
                <li><a href="about.html">о заводе</a></li>
              </ul>
            </div>
            <div class="header-logo"><a href="/"><img src="dest/images/template/logo.svg" alt=""/></a></div>
            <div class="header-menu__right">
              <ul>
                <li><a href="products.html">продукция</a></li>
                <li class="current"><a href="contacts.html">контакты</a></li>
              </ul>
            </div>
            <nav class="hidden-lg mobile-menu">
              <div class="navbar navbar-default navbar-mainmenu">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="modal" data-target="#navmenu-mobile" aria-expanded="false"><img src="dest/images/template/gamb.svg" alt=""/></button>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </header>
      </div>
      <div class="page__body">
        <div class="frame-outer">
          <div class="container">
            <div class="footer footer--home">
              <div class="footer__body contacts-content">
                <h2 class="visible-xs">Приезжайте в гости!</h2>
                <div class="row">
                  <div class="col-md-6">
                    <div class="footer__addr">
                      Мы находимся по адресу: 172387,<br>
                      Тверская обл., г. Ржев, ул. Гагарина, д.153
                    </div><a class="footer__map hidden-xs" href="#modalmap" type="button" data-toggle="modal" data-target="#modalmap" aria-expanded="false">Посмотреть на карте</a>
                    <div class="footer__box visible-sm visible-xs">
                      <h3>По вопросам приобретения  продукции обращаться:</h3>
                      <div class="contacts-block">
                        <div class="contacts__name">ООО "Новый день"</div><a href="mailto:89109383894@mail.ru">89109383894@mail.ru,</a><a href="mailto:opt@ржевпиво.рф">opt@ржевпиво.рф</a>
                      </div>
                      <div class="footer__phones"><a class="footer__tell h2" href="tel:+79109383894">+7 910 938 38 94</a></div>
                    </div>
                    <div class="footer__info">
                      <p class="hidden-xs">Если у вас есть вопросы, мы готовы ответить на каждый. <br> Отправьте на сообщение и мы обязательно ответим.</p>
                      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#popupContacts" aria-expanded="false">Отправить сообщение</button>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="footer__box hidden-sm hidden-xs">
                      <h3>По вопросам приобретения  продукции обращаться:</h3>
                      <div class="contacts-block">
                        <div class="contacts__name">ООО "ПМЗ ЭРНСТА КЛЕЙНА"</div><a href="mailto:sale@pmz-ek.ru">sale@pmz-ek.ru,</a><a href="mailto:opt@pmz-ek.ru">opt@pmz-ek.ru</a>
                      </div>
                      <div class="footer__phones"><a class="footer__tell h2" href="tel:+79520937830">+7 952 093 78 30</a><a class="footer__tell h2" href="tel:+74823221672">(48232) 2-16-72</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer footer--error">
        <div class="frame-outer">
          <div class="container">
            <div class="footer__body"></div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 text-left">
                <div class="footer__copyright">Ржевпиво © 2013 - 2018</div>
              </div>
              <div class="col-sm-6 text-right">
                <div class="footer__copyright">Разработано студией<a href="http://holmax.ru" target="_blank">holmax.ru</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal modal--simple fade" id="popupContacts" tabindex="-1" aria-labelledly="Написать сообщение">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="close"><span aria-hidden="true"><img class="img-responsive" src="dest/images/template/popup-close.svg" alt=""/></span></button>
            </div>
            <div class="modal-body">
              <h3>
                Заполните форму, чтобы
                мы смогли с вами связаться
              </h3>
              <form class="form-horizontal" action="">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Ваше имя"/>
                </div>
                <div class="form-group has-error">
                  <input class="form-control" type="text" placeholder="Номер телефона/Email"/>
                </div>
                <div class="form-group">
                  <textarea class="form-control" type="text" placeholder="Напишите, что вас интересует"></textarea>
                </div>
                <div class="form-group">
                  <input class="btn btn-primary btn-lg" type="submit" value="Отправить сообщение"/>
                </div>
              </form><a href="/">ссылка</a>
              <P>текст</P>
            </div>
          </div>
        </div>
      </div>
      <div class="modal modal--simple fade" id="popupEx" tabindex="-1" aria-labelledly="Заявка на экскурсию">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="close"><span aria-hidden="true"><img src="dest/images/template/popup-close.svg" alt=""/></span></button>
            </div>
            <div class="modal-body">
              <h3> Заполните  заявку</h3>
              <div class="pre-form"><span>Группа до 10 человек – стоимость 15 000 руб.</span><span>Группа от 10 человек – стоимость 1500 руб./гость</span></div>
              <form class="form-horizontal" action="">
                <div class="form-group">
                  <select class="form-control" name="">
                    <options>
                      <option value="26.07.2018 (четверг)">26.07.2018 (четверг)</option>
                      <option value="31.07.2018 (вторник)">31.07.2018 (вторник)</option>
                      <option value="01.07.2018 (среда)">01.07.2018 (среда)</option>
                      <option value="02.07.2018 (четверг)">02.07.2018 (четверг)</option>
                      <option value="07.07.2018 (вторник)">07.07.2018 (вторник)</option>
                      <option value="08.07.2018 (среда)">08.07.2018 (среда)</option>
                      <option value="09.07.2018 (четверг)">09.07.2018 (четверг)</option>
                      <option value="14.07.2018 (вторник)">14.07.2018 (вторник)</option>
                    </options>
                  </select>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <select class="form-control" name="">
                      <options>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                      </options>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="Кол-во человек"/>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Название группы"/>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Контактное лицо"/>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Номер телефона"/>
                </div>
                <div class="form-group">
                  <input class="btn btn-primary btn-lg" type="submit" value="Отправить сообщение"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><script src="https://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script src="dest/scripts/map.js" type="text/javascript"></script>
      <div class="modal fade" id="modalmap" tabindex="-1" aria-labelledly="Карта">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="close"><span aria-hidden="true"><img src="dest/images/template/close-map.svg" alt=""/></span></button>
            </div>
            <div class="modal-body">
              <div class="home-map" id="map1">
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="dest/scripts/vendor/jquery.min.js"></script>
    <script src="dest/scripts/vendor/bootstrap.min.js"></script>
    <script src="dest/scripts/vendor/jquery.custom-scroll.min.js"></script>
    <script src="dest/scripts/vendor/owl.carousel.min.js"></script>
    <script src="dest/scripts/vendor/jquery.drawsvg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/paroller.js@1.4.2/dist/jquery.paroller.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="dest/scripts/main.js"></script>
  </body>
</html>

source/modules/contacts/contacts.pug
mixin contacts()
  .footer.footer--home
    .footer__body.contacts-content
      h2.visible-xs Приезжайте в гости!
      .row
        .col-md-6
          .footer__addr.
            Мы находимся по адресу: 172387,<br>
            Тверская обл., г. Ржев, ул. Гагарина, д.153
          a.footer__map.hidden-xs(href="#modalmap", type="button", data-toggle="modal", data-target="#modalmap", aria-expanded="false") Посмотреть на карте
          .footer__box.visible-sm.visible-xs
            h3.
              По вопросам приобретения  продукции обращаться:
            .contacts-block
              .contacts__name ООО "Новый день"
              a(href="mailto:89109383894@mail.ru") 89109383894@mail.ru,
              a(href="mailto:opt@ржевпиво.рф") opt@ржевпиво.рф
            .footer__phones
              a.footer__tell.h2(href="tel:+79109383894") +7 910 938 38 94
          .footer__info
            p.hidden-xs.
              Если у вас есть вопросы, мы готовы ответить на каждый. <br> Отправьте на сообщение и мы обязательно ответим.
            button(class="btn btn-primary btn-lg", data-toggle="modal", data-target="#popupContacts", aria-expanded="false") Отправить сообщение
        .col-md-6
          .footer__box.hidden-sm.hidden-xs
            h3.
              По вопросам приобретения  продукции обращаться:
            .contacts-block
              .contacts__name ООО "ПМЗ ЭРНСТА КЛЕЙНА"
              a(href="mailto:sale@pmz-ek.ru") sale@pmz-ek.ru,
              a(href="mailto:opt@pmz-ek.ru") opt@pmz-ek.ru
            .footer__phones
              a.footer__tell.h2(href="tel:+79520937830") +7 952 093 78 30
              a.footer__tell.h2(href="tel:+74823221672") (48232) 2-16-72
