source/products.pug
extends layouts/base
include modules/header/header
include modules/modalmenu/modalmenu
include modules/productmenu/productmenu
include modules/product-list/product-list
include modules/footer/footer
include modules/popup/popup
block content
  +modalmenu()
  .page.page--products
    .page__header
      +header()
    .page__body
      .frame-outer
        .container
          article.page__content
            .product#product
              .page-header
                h1.products-head Наша продукция

              +productmenu([{"name": "Пиво", "link": "products.html#product", "current": "true"},{"name": "Вода питьевая", "link": "products-water.html#product", "current": "false"},{"name": "Безалкогольные напитки", "link": "products-nonalc.html#product", "current": "false"}])
              .products-loader
                .row
                  .col-md-6
                    .product__img.hidden-xs.hidden-sm
                      img.img-responsive(src="dest/images/content/products_beer_item_concept.png", alt="")
                  .col-md-6
                    .products__listing
                      .description__head
                        h2 Выберите сорт
                      +product-list([
                                      {
                                        "name" :" «Поручик Ржевский»",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"«Поручик Ржевский» Барное",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"«Поручик Ржевский» Бархатное",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"Жигулевское",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"Эрнст Клейн",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"Баварское",
                                        "link": "product.html"
                                      }

                                    ])


    +footer()
    +popup()

Prepros Export/products.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width" id="viewport-meta"/>
    <title>Ржевское пиво</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;amp;subset=cyrillic"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:700&amp;amp;subset=cyrillic"/>
    <link rel="stylesheet" href="dest/styles//vendor/jquery.custom-scroll.css"/>
    <link rel="stylesheet" href="dest/styles//vendor/owl.carousel.min.css"/>
    <link rel="stylesheet" href="dest/styles//vendor/owl.theme.default.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"/>
    <link rel="stylesheet" href="dest/styles/main.css"/>
  </head>
  <body>
    <div class="modal fade" id="navmenu-mobile" tabindex="-1" aria-labelledly="Меню">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="close"><span aria-hidden="true"><img src="dest/images/template/cross.svg" alt=""/></span></button>
          </div>
          <div class="modal-body">
            <div class="modal__menu">
              <ul>
                <li><a href="history.html">История</a></li>
                <li><a href="about.html">О заводе</a></li>
                <li><a href="products.html">Продукция</a></li>
                <li><a href="contacts.html">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page page--products">
      <div class="page__header">
        <header class="header">
          <div class="header-menu frame-outer">
            <div class="header-menu__left"><a class="back-cat visible-xs" href="products.html">назад</a>
              <ul>
                <li><a href="history.html">история</a></li>
                <li><a href="about.html">о заводе</a></li>
              </ul>
            </div>
            <div class="header-logo"><a href="/"><img src="dest/images/template/logo.svg" alt=""/></a></div>
            <div class="header-menu__right">
              <ul>
                <li class="current"><a href="products.html">продукция</a></li>
                <li><a href="contacts.html">контакты</a></li>
              </ul>
            </div>
            <nav class="hidden-lg mobile-menu">
              <div class="navbar navbar-default navbar-mainmenu">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="modal" data-target="#navmenu-mobile" aria-expanded="false"><img src="dest/images/template/gamb.svg" alt=""/></button>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </header>
      </div>
      <div class="page__body">
        <div class="frame-outer">
          <div class="container">
            <article class="page__content">
              <div class="product" id="product">
                <div class="page-header">
                  <h1 class="products-head">Наша продукция</h1>
                </div>
                <nav class="products-menu">
                  <ul class="products-menu__list list-unstyled">
                    <li class="products-menu__item current"><a class="products-menu__link" href="products.html#product">Пиво</a></li>
                    <li class="products-menu__item"><a class="products-menu__link" href="products-water.html#product">Вода питьевая</a></li>
                    <li class="products-menu__item"><a class="products-menu__link" href="products-nonalc.html#product">Безалкогольные напитки</a></li>
                  </ul>
                </nav>
                <div class="products-loader">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="product__img hidden-xs hidden-sm"><img class="img-responsive" src="dest/images/content/products_beer_item_concept.png" alt=""/></div>
                    </div>
                    <div class="col-md-6">
                      <div class="products__listing">
                        <div class="description__head">
                          <h2>Выберите сорт</h2>
                        </div>
                        <nav class="products__list">
                          <ul class="js-listMore">
                            <li><a href="product.html"> «Поручик Ржевский»</a></li>
                            <li><a href="product.html">«Поручик Ржевский» Барное</a></li>
                            <li><a href="product.html">«Поручик Ржевский» Бархатное</a></li>
                            <li><a href="product.html">Жигулевское</a></li>
                            <li><a href="product.html">Эрнст Клейн</a></li>
                            <li><a href="product.html">Баварское</a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="frame-outer">
          <div class="container">
            <div class="footer__body">
              <div class="row">
                <div class="col-md-6">
                  <h3>
                    По вопросам приобретения
                    продукции обращаться:
                  </h3>
                  <div class="footer__contacts">
                    <div class="contacts-block">
                      <div class="contacts__name">ООО "ПМЗ ЭРНСТА КЛЕЙНА"</div><a href="mailto:sale@pmz-ek.ru">sale@pmz-ek.ru,&nbsp;</a><a href="mailto:opt@pmz-ek.ru">opt@pmz-ek.ru</a>
                    </div>
                  </div>
                  <div class="footer__phones"><a class="footer__tell h2" href="tel:+79520937830">+7 952 093 78 30</a><a class="footer__tell h2" href="tel:+74823221672">(48232) 2-16-72</a></div>
                </div>
                <div class="col-md-6">
                  <div class="footer__info">
                    <p>Если у вас есть вопросы, мы готовы ответить на каждый. <br> Отправьте нам сообщение и мы обязательно ответим.</p>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#popupContacts" aria-expanded="false">Отправить сообщение</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="footer__copyright">Ржевпиво © 2013 - 2018</div>
              </div>
              <div class="col-sm-6">
                <div class="footer__copyright text-right">Разработано студией<a href="http://holmax.ru" target="_blank">holmax.ru</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal modal--simple fade" id="popupContacts" tabindex="-1" aria-labelledly="Написать сообщение">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="close"><span aria-hidden="true"><img class="img-responsive" src="dest/images/template/popup-close.svg" alt=""/></span></button>
            </div>
            <div class="modal-body">
              <h3>
                Заполните форму, чтобы
                мы смогли с вами связаться
              </h3>
              <form class="form-horizontal" action="">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Ваше имя"/>
                </div>
                <div class="form-group has-error">
                  <input class="form-control" type="text" placeholder="Номер телефона/Email"/>
                </div>
                <div class="form-group">
                  <textarea class="form-control" type="text" placeholder="Напишите, что вас интересует"></textarea>
                </div>
                <div class="form-group">
                  <input class="btn btn-primary btn-lg" type="submit" value="Отправить сообщение"/>
                </div>
              </form><a href="/">ссылка</a>
              <P>текст</P>
            </div>
          </div>
        </div>
      </div>
      <div class="modal modal--simple fade" id="popupEx" tabindex="-1" aria-labelledly="Заявка на экскурсию">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="close"><span aria-hidden="true"><img src="dest/images/template/popup-close.svg" alt=""/></span></button>
            </div>
            <div class="modal-body">
              <h3> Заполните  заявку</h3>
              <div class="pre-form"><span>Группа до 10 человек – стоимость 15 000 руб.</span><span>Группа от 10 человек – стоимость 1500 руб./гость</span></div>
              <form class="form-horizontal" action="">
                <div class="form-group">
                  <select class="form-control" name="">
                    <options>
                      <option value="26.07.2018 (четверг)">26.07.2018 (четверг)</option>
                      <option value="31.07.2018 (вторник)">31.07.2018 (вторник)</option>
                      <option value="01.07.2018 (среда)">01.07.2018 (среда)</option>
                      <option value="02.07.2018 (четверг)">02.07.2018 (четверг)</option>
                      <option value="07.07.2018 (вторник)">07.07.2018 (вторник)</option>
                      <option value="08.07.2018 (среда)">08.07.2018 (среда)</option>
                      <option value="09.07.2018 (четверг)">09.07.2018 (четверг)</option>
                      <option value="14.07.2018 (вторник)">14.07.2018 (вторник)</option>
                    </options>
                  </select>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <select class="form-control" name="">
                      <options>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                      </options>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="Кол-во человек"/>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Название группы"/>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Контактное лицо"/>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Номер телефона"/>
                </div>
                <div class="form-group">
                  <input class="btn btn-primary btn-lg" type="submit" value="Отправить сообщение"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="dest/scripts/vendor/jquery.min.js"></script>
    <script src="dest/scripts/vendor/bootstrap.min.js"></script>
    <script src="dest/scripts/vendor/jquery.custom-scroll.min.js"></script>
    <script src="dest/scripts/vendor/owl.carousel.min.js"></script>
    <script src="dest/scripts/vendor/jquery.drawsvg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/paroller.js@1.4.2/dist/jquery.paroller.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="dest/scripts/main.js"></script>
  </body>
</html>
